In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score
import pickle

### Reading Dataset

In [4]:
df = pd.read_csv("Admission_Predict.csv")

In [ ]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [6]:
for col in df.columns:
    print(col , df[col].unique())

Serial No. [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306
 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396
 397 398 399 400]
GRE Score [337 324 316 322 314 330 321 308 302 323 325 327 328 307 311 317 319 318
 303 312 334 336 340 298 295 310 300 338 331 320 299 304 313 332 326 329
 339 309 315 301 296 294 306 305 290 335 333 297 293]
TOEFL Score [118 107 104 110 103 115 109 101 102 108 106 111 112 105 114 116 119 120
  98  93  99  97 117 113 100  95  96  94  92]
University Rating [4 3 2 5 1]
SOP [4.5 4.  3.  3.5 2.  5.  1.5 1.  2.5]
LOR  [4.5 3.5 2.5 3.  4.  1.5 2.  5.  1. ]
CGPA [9.65 8.87 8.   8.67 8.21 9.34 8.2  7.9  8.6  8.4  9.   9.1  8.3  8.7
 8.8  8.5  9.5  9.7  9.8  9.6  7.5  7.2  7.3  8.1  9.4  9.2  7.8  7.7
 9.3  8.85 7.4  7.6  6.8  8.92 9.02 8.64 9.22 9.16 9.64 9.76 9.45 9.04
 8.9  8.56 8.72 8.22 7.54 7.36 8.02 9.36 8.66 8.42 8.28 8.14 8.76 7.92
 7.66 8.03 7.88 7.84 8.96 9.24 8.88 8.46 8.12 8.25 8.47 9.05 8.78 9.18
 9.46 9.38 8.48 8.68 8.34 8.45 8.62 7.46 7.28 8.84 9.56 9.48 8.36 9.32
 8.71 9.35 8.65 9.28 8.77 8.16 9.08 9.12 9.15 9.44 9.92 9.11 8.26 9.43
 9.06 8.75 8.89 8.69 7.86 9.01 8.97 8.33 8.27 7.98 8.04 9.07 9.13 9.23
 8.32 8.98 8.94 9.53 8.52 8.43 8.54 9.91 9.87 7.65 7.89 9.14 9.66 9.78
 9.42 9.26 8.79 8.23 8.53 8.07 9.31 9.17 9.19 8.37 7.68 8.15 8.73 8.83
 8.57 9.68 8.09 8.17 7.64 8.01 7.95 8.49 7.87 7.97 8.18 8.55 8.74 8.13
 8.44 9.47 8.24 7.34 7.43 7.25 8.06 7.67 9.54 9.62 7.56 9.74 9.82 7.96]
Research [1 0]
Chance of Admit  [0.92 0.76 0.72 0.8  0.65 0.9  0.75 0.68 0.5  0.45 0.52 0.84 0.78 0.62
 0.61 0.54 0.66 0.63 0.64 0.7  0.94 0.95 0.97 0.44 0.46 0.74 0.91 0.88
 0.58 0.48 0.49 0.53 0.87 0.86 0.89 0.82 0.56 0.36 0.42 0.47 0.55 0.57
 0.96 0.93 0.38 0.34 0.79 0.71 0.69 0.59 0.85 0.77 0.81 0.83 0.67 0.73
 0.6  0.43 0.51 0.39]

finding missing values

In [ ]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

outliers using boxplot

In [ ]:
for col in df.columns:
    sns.boxplot(data=df[col])
    plt.show()

a single outliers wont do anything to model accuracy

Distribution of Data

In [ ]:
for col in df.columns:
    sns.histplot(data=df[col], kde = True)
    plt.show()

remove s.no

In [ ]:
df.drop(["Serial No."] , axis= 1 , inplace= True)

Pair plot to visulize data

In [ ]:
sns.pairplot(data = df )

In [ ]:
corr_matrix = df.corr()
plt.figure(figsize=(10,10))
sns.heatmap(data=corr_matrix , annot=True,cmap = 'coolwarm' , linewidths= .5 , linecolor= 'black')

Splitting Data

In [ ]:
Y = df["Chance of Admit "]
X = df.drop(["Chance of Admit "] , axis = 1)
X.shape , Y.shape

((400, 7), (400,))

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(X,Y, test_size = 0.2, random_state= 42)
scalar = StandardScaler()
scaled_x_train = scalar.fit_transform(x_train)
x_train_df = pd.DataFrame(scaled_x_train, columns=x_train.columns)
scaled_x_test = scalar.transform(x_test)
x_test_df = pd.DataFrame(scaled_x_test , columns=x_test.columns)
x_train_df.head(),x_test_df.head()
model = LinearRegression()
model.fit(x_train_df,y_train)
y_pred = model.predict(x_test_df)

mse = mean_squared_error(y_true= y_test , y_pred=y_pred)
r2 = r2_score(y_true= y_test , y_pred=y_pred)

print(mse,r2)

0.004617003377285013 0.8212082591486991

In [ ]:
y_test.shape,y_train.shape

((80,), (320,))

In [ ]:
pd.DataFrame({"y_pred" : y_pred , "y_test" : y_test}).head(20)

       y_pred  y_test
209  0.651174    0.68
280  0.723687    0.68
33   0.935368    0.90
210  0.821643    0.79
93   0.581587    0.44
84   0.928630    0.94
329  0.526824    0.43
94   0.543090    0.36
266  0.659406    0.72
126  0.838349    0.85
9    0.720088    0.45
361  0.907498    0.93
56   0.553545    0.64
72   0.890086    0.93
132  0.703895    0.71
42   0.686645    0.53
278  0.666573    0.66
376  0.481961    0.34
231  0.690572    0.74
385  0.974931    0.96

saving model

In [ ]:
with open("graduate_adm_model.pkl","wb") as f:
    pickle.dump(model , f)
with open("graduate_adm_scalar.pkl" ,"wb") as f:
    pickle.dump(scalar , f)

In [ ]:
with open("graduate_adm_model.pkl" , "rb") as f:
    saved_model = pickle.load(f)
with open("graduate_adm_scalar.pkl","rb") as f:
    saved_scalar = pickle.load(f)